###################
# Database Configuration
###################
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='pass123'
POSTGRES_DB='app'
POSTGRES_PORT='5432'
DB_HOST='db'

###################
# Redis Configuration
###################
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

###################
# S3 Storage Configuration (RustFS)
###################
S3_ENDPOINT=http://rustfs:9000
S3_ACCESS_KEY=rustfsadmin
S3_SECRET_KEY=rustfsadmin
S3_BUCKET_NAME='app-dev'
S3_BUCKET=app
S3_REGION=us-east-1